<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
	<script type="text/javascript" src="js/models.js"></script>	
	<script type="text/javascript" src="js/main.js"></script>	
	<title>Mercadona</title>
	<style>
		.container{
			margin-top: 40px;
		}
		.center{
			text-align: center;
		}
		.right{
			text-align: right;
		}
		.title{
			font-size: 24px;
			font-weight: bold;
		}
		.total{
			font-size: 20px;
			font-weight: bold;
		}
	</style>
</head>
<body ng-controller="superCtrl as ctrl">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="title">
					Supermercado
				</p>
				<table class="table">
					<thead>
						<th>Producto</th>
						<th>Precio</th>
						<th class="center">Stock</th>
						<th class="center">Añadir</th>
					</thead>
					<tbody>
						<tr ng-repeat="prod in ctrl.supermercado.productos">
							<td>{{prod.nombre}}</td>
							<td>{{prod.nombre}} €</td>
							<td class="center">{{prod.stock}}</td>
							<td class="center"><a href="#" class="fa fa-cart-plus" ng-click="ctrl.ponerEnCarro(prod)"></a>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<p class="title">
					Carro de la compra
				</p>
				<table class="table">
					<thead>
						<th>Producto</th>
						<th class="right">Precio</th>
					</thead>
					<tbody>
						<tr ng-repeat="prod in ctrl.carrocompra.productos">
							<td>{{prod.nombre}}</td>
							<td class="right">{{prod.precio}} €</td>
						</tr>
						<tr>
							<td colspan="2" class="right total">
								Precio total: <span ng-bind="ctrl.carrocompra.precioTotal"></span> €
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>